/* Hero Section */
.hero {
  background-image: url('/src/assets/hero.jpg');
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 50vh;
  width: 100%; 
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
}

.hero-overlay {
  background: linear-gradient(to right, rgba(65, 58, 67, 0.515), rgba(118, 63, 111, 0));
  padding: 40px;
  border-radius: 12px;
  margin-left: 40px;
}

h1 {
  color: #ffffff;
  margin-bottom: 16px;
  font-size: 35px;
}

.hero-overlay p {
  font-size: 20px ;
}

.hero-buttons {
  margin-top: 20px;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.3s;
}

/* Ensure Link buttons look the same as real buttons */
.hero-buttons .primary,
.hero-buttons .secondary {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 10px;
  text-decoration: none;    /* Remove underline */
  transition: background 0.3s;
}

.hero-buttons .primary {
  background-color: #0f97b9;
  color: #000;
}

.hero-buttons .primary:hover {
  background-color: #d97706;
}

.hero-buttons .secondary {
  background-color: #fff;
  color: #444;
}

.hero-buttons .secondary:hover {
  background-color: #cc64cc;
  color: #fff;
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .hero {
    height: 70vh;
  }

  .hero-overlay {
    background: linear-gradient(to bottom, rgba(65, 58, 67, 0.515), rgba(53, 25, 49, 0.473));
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  
  .hero-buttons {
    display: flex;
    flex-direction: column;   /* Stack buttons vertically */
    align-items: center; 
    gap: 0.5rem;
  }
}
