.about-preview {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 40vh;           
  background-color: #f9f9f9; 
  text-align: center;      
  padding-bottom: 30px;
}

.about-preview-content {
  max-width: 700px;
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.divider {
  width: 80px;
  height: 4px;
  background-color: #6a1b9a; 
  border: none;
  margin: 10px auto 20px; 
}


.about-preview a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 10px;
  color: #6a1b9a; /* Text color */
  border: 2px solid #6a1b9a; 
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-preview a:hover {
  background-color: #6a1b9a;
  color: white;
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .about-preview {
    height: auto;           /* Let the content determine height */
    padding: 1px 20px;    
  }

  .about-preview-content {
    padding: 1.5rem;
  }
}
