/* CTA Banner */
.cta-wrapper {
  background-color: #fef7ec; /* light cream background */
  padding: 1rem 1rem;
}

.cta-banner {
  background-color: #ffffffd0;
  color: rgb(26, 64, 112);
  text-align: center;
  padding: 3rem 2rem;
  margin: 4rem auto 0; /* Center horizontally and add top margin */
  margin-bottom: 4rem;
  width: 700px;
  border-radius: 10px; /* optional: gives rounded edges */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3); /* dark shadow: no sideway shift, appear below, soft */
  transition: transform 0.3s ease; /* for smooth hover movement */
}

.cta-banner:hover {
  transform: translateY(-3px); /* Moves up by 5px on hover */
}

.cta-banner h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-banner button {
  background-color: #aa21add7;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.cta-banner button:hover {
  background-color: #0f97b9;
  color: rgb(255, 255, 255);
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .cta-banner {
    max-width: fit-content;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}