/* CTA Banner */
.cta-banner {
  background-color: #fb6afdec;
  color: white;
  text-align: center;
  padding: 3rem 2rem;
  margin: 4rem auto 0; /* Center horizontally and add top margin */
  margin-bottom: 4rem;
  width: 700px;
  border-radius: 10px; /* optional: gives rounded edges */
}

.cta-banner h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-banner button {
  background-color: white;
  color: #aa21add7;
  border: none;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.cta-banner button:hover {
  background-color: #6af159;
  color: rgb(4, 50, 58);
}

/* Responsive styling for mobile */
@media (max-width: 768px) {
  .cta-banner {
    max-width: fit-content;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}