/* Hero Section */
.hero {
  background-image: url('/src/assets/hero-about.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  height: 70vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1;
}

.hero .overlay h1,
.hero .overlay p {
  z-index: 2;
  margin: 0.5rem 0;
}

/* Responsive padding for mobile */
@media (max-width: 768px) {
  .hero .overlay {
    padding: 0.5rem;
    margin-right: 60px;
}
}
